---
title: "Verification Checklist"
---

> Zostanie uzupełnione w trakcie pracy wg wytycznych z pliku planu.